<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Keycloak + Python Flask + Authlib</title>
  </head>
  <body>
    <div>
      <div>
        <div>
          <h1>Welcome {{userinfo['name']}}</h1>
          <pre>{{userinfo_pretty}}</pre>
          <a id="LogoutBtn" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </body>
</html>