{% extends 'base.html.jinja' %}

{# A macro for create a form row : 2 columns, by default :
- Label
- Input with div for error feedback
each column is parametrable (content and class)
 #}
{% macro row(col1, col2, col2Id, col2Errors, col1Classes="form-label", col2Classes="form-control") -%}
    <div class="row">
        {# Col 1 #}
        <div class="col-sm-4">
            {{ col1(class=col1Classes) }}
        </div>

        {# Col 2 : the input with class is-invalid if field contains errors 
        (given by validate method execute by controller) #}
        <div class="col-sm-4">
            {% if col2Errors %}
                {% set col2Classes = col2Classes + ' is-invalid' %}
                {{ col2(class=col2Classes) }}
            {% else %}
                {{ col2(class=col2Classes) }}
            {% endif %}

            {# The list of errors messages, just under the input #}
            {% for error in col2Errors %}
                <div id="{{ col2Id }}-error" class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    </div>
{%- endmacro %}


{% macro rowWithEditButton(col1, col2, col2Id, col2Errors, col1Classes="form-label", col2Classes="form-control") -%}
    <div class="row">
        {# Col 1 : the label #}
        <div class="col-sm">
            {{ col1(class=col1Classes) }}
        </div>
        {# Col 2 the input with class is-invalid if field contains errors 
        (given by validate method execute by controller) #}
        <div class="col-sm">
            {% if col2Errors %}
                {% set col2Classes = col2Classes + ' is-invalid' %}
                {{ col2(class=col2Classes) }}
            {% else %}
                {{ col2(class=col2Classes) }}
            {% endif %}

            {# The list of errors messages, just under the input #}
            {% for error in col2Errors %}
                <div id="{{ col2Id }}-error" class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}

        </div>
        {# Col 3 : 1 button for edit the ref #}
        <div class="col-sm">
            <button type="button" id="edit-{{ col2Id }}" class="btn btn-warning" edit="{{ col2Id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
            </button>
        </div>
    </div>
{%- endmacro %}


{% block content %}
    <h1>{% block title %} Création d'un produit {% endblock %}</h1>

    {# Display flashed messages given by controller #}
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="row flashed_message">
            {# Col 1 : empty#}
            <div class="col-sm-4"></div>
            {# Col 2  : the message (using bootstrap alert rendering) #}
            <div class="col-sm-4 alert {{ category }}" role='alert'>
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}

    {# enctype="multipart/form-data" for file upload #}
    <form method="POST" enctype="multipart/form-data" action="/addProduct">
        {{ form.csrf_token }}
        <div class="container">

            {# Row 1 : ask for barcode type (<select>) #}
            {{ 
                row
                (
                    col1=form.barcodeType.label,
                    col2=form.barcodeType,
                    col2Id='barcodeType',
                    col2Errors=form.barcodeType.errors,
                    col2Classes='form-select'
                )
            }}

            {# Row 2 : ask for barcode number #}
            <div class="row">
                {# Col 1 : the label #}
                <div class="col-sm">
                    {{ form.barcode.label(class="form-label") }}
                </div>
                {# Col 2 : the input with class is-invalid if field contains errors 
                (given by validate method execute by controller) #}
                <div class="col-sm">
                    {% if form.barcode.errors %}
                        {{ form.barcode(class="form-control is-invalid") }}
                    {% else %}
                        {{ form.barcode(class="form-control") }}
                    {% endif %}

                    {# The list of errors messages, just under the input #}
                    <div id="barcode-error" class="invalid-feedback">
                        {% for error in form.barcode.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                {# Col 3 : 2 buttons, 1 for edit the barcode, the other for searching product info in OpenFoodFact DB
                The 2 buttons isn't display at the same time, it depends on value of barcodeType #}
                <div class="col-sm">
                    <button type="button" id="edit-barcode" class="btn btn-warning" style="display: none;" edit="barcode">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </button>
                    <input type="button" value="Rechercher" id="search" class="btn btn-primary"/>
                </div>
            </div>

            {#  Row 3 : the Ref is disabled #}
            {{ 
                rowWithEditButton
                (
                    col1=form.ref.label,
                    col2=form.ref,
                    col2Id='ref',
                    col2Errors=form.ref.errors
                )
            }}

            {#  Row 4 : the CompleteName is disabled #}
            {{ 
                rowWithEditButton
                (
                    col1=form.completeName.label,
                    col2=form.completeName,
                    col2Id='completeName',
                    col2Errors=form.completeName.errors
                )
            }}
            

            {# Row 5 : ask for name #}
            {{
                row
                (
                    col1=form.name.label,
                    col2=form.name,
                    col2Id='name',
                    col2Errors=form.name.errors
                )
            }}

            {# Row 6 : ask for brands #}
            {{
                row
                (
                    col1=form.brand.label,
                    col2=form.brand,
                    col2Id='brand',
                    col2Errors=form.brand.errors
                )
            }}

            {# Row 7 : ask for weight (can be a volume or a weight) #}
            {{
                row
                (
                    col1=form.weightType,
                    col1Classes='form-select',
                    col2=form.weight,
                    col2Id='weight',
                    col2Errors=form.weight.errors
                )
            }}

            {# Row 8 : ask for sell state #}
            {{
                row
                (
                    col1=form.stateSell.label,
                    col2=form.stateSell,
                    col2Id='stateSell',
                    col2Errors=form.stateSell.errors,
                    col2Classes='form-select'
                )
            }}

            {# Row 9 : ask for buy state #}
            {{
                row
                (
                    col1=form.stateBuy.label,
                    col2=form.stateBuy,
                    col2Id='stateBuy',
                    col2Errors=form.stateBuy.errors,
                    col2Classes='form-select'
                )
            }}

            {# Row 10 : ask for description #}
            {{
                row
                (
                    col1=form.desc.label,
                    col2=form.desc,
                    col2Id='desc',
                    col2Errors=form.desc.errors
                )
            }}

            {# Row 11 : ask for note #}
            {{
                row
                (
                    col1=form.note.label,
                    col2=form.note,
                    col2Id='note',
                    col2Errors=form.note.errors
                )
            }}

            {# Row 12 : ask for category #}
            {{
                row
                (
                    col1=form.category.label,
                    col2=form.category,
                    col2Id='category',
                    col2Errors=form.category.errors,
                    col2Classes='form-select'
                )
            }}

            {# Row 13 : ask for subCategory #}
            {{
                row
                (
                    col1=form.subCategory.label,
                    col2=form.subCategory,
                    col2Id='subCategory',
                    col2Errors=form.subCategory.errors,
                    col2Classes='form-select'
                )
            }}

            {# Row 14 : ask for bio #}
            {{
                row
                (
                    col1=form.bio.label,
                    col1Classes="form-check-label",
                    col2=form.bio,
                    col2Id='bio',
                    col2Errors=form.bio.errors,
                    col2Classes='form-check-input'
                )
            }}

            {# Row 15 : ask for mealVoucher #}
            {{
                row
                (
                    col1=form.mealVoucher.label,
                    col1Classes="form-check-label",
                    col2=form.mealVoucher,
                    col2Id='mealVoucher',
                    col2Errors=form.mealVoucher.errors,
                    col2Classes='form-check-input'
                )
            }}

            {# Row 16 : ask for weeklyInventory #}
            {{
                row
                (
                    col1=form.weeklyInventory.label,
                    col1Classes="form-check-label",
                    col2=form.weeklyInventory,
                    col2Id='weeklyInventory',
                    col2Errors=form.weeklyInventory.errors,
                    col2Classes='form-check-input'
                )
            }}

            {# Row 17 : ask for tags #}
            {# {{
                row
                (
                    col1=form.weeklyInventory.label,
                    col1Classes="form-check-label",
                    col2=form.weeklyInventory,
                    col2Id='weeklyInventory',
                    col2Errors=form.weeklyInventory.errors,
                    col2Classes='form-check-input'
                )
            }} #}

            {# Row : ask for supplier #}
            {{
                row
                (
                    col1=form.supplier.label,
                    col2=form.supplier,
                    col2Id='supplier',
                    col2Errors=form.supplier.errors,
                    col2Classes='form-select'
                )
            }}

            {# Row 18 : ask for sell price #}
            {{
                row
                (
                    col1=form.priceSell.label,
                    col2=form.priceSell,
                    col2Id='priceSell',
                    col2Errors=form.priceSell.errors
                )
            }}

            {# Row 19 : ask for tva #}
            {{
                row
                (
                    col1=form.tva.label,
                    col2=form.tva,
                    col2Id='tva',
                    col2Errors=form.tva.errors,
                    col2Classes='form-select'
                )
            }}

            {# Row 20 : ask for accountancyCodeSell #}
            {{ 
                rowWithEditButton
                (
                    col1=form.accountancyCodeSell.label,
                    col2=form.accountancyCodeSell,
                    col2Id='accountancyCodeSell',
                    col2Errors=form.accountancyCodeSell.errors,
                    col2Classes='form-select'
                )
            }}
            

            {# Row 21 : ask for an image #}
            {{
                row
                (
                    col1=form.image.label,
                    col2=form.image,
                    col2Id='image',
                    col2Errors=form.image.errors
                )
            }}

            {# Row 22 : ask for an URL image (hidden field) #}
            <div class="row">
                {# Col 1 : nothing #}
                <div class="col-sm">
                </div>
                {# Col 2 the input with class is-invalid if field contains errors 
                (given by validate method execute by controller) #}
                <div class="col-sm">
                    {% if form.imageURL.errors %}
                        {{ form.imageURL(class="form-control is-invalid") }}
                    {% else %}
                        {{ form.imageURL(class="form-control") }}
                    {% endif %}

                    {% for error in form.imageURL.errors %}
                        <div id="imageURL-error" class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}

                </div>
                {# Col 3 : a preview of image #}
                <div class="col-sm">
                    <img id="imageURL-preview">
                </div>
            </div>


            {# Row 23 : submit button #}
            <div class="row">
                {# Col 1 #}
                <div class="col-sm-4"></div>
                {# Col 2 #}
                <div class="col-sm-4">
                    <input id="submit" type="submit" value="Créer" class="btn btn-primary">
                </div>
            </div>

        </div>
    </form>
{% endblock %}

{% block jsImport %}
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>


    <script src="{{ url_for('static', filename='js/utilsPopulate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/populateAccountancyCodeSell.js') }}"></script>
    <script src="{{ url_for('static', filename='js/populateRefAndBarcode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/populateCategories.js') }}"></script>
    <script src="{{ url_for('static', filename='js/populateSubCategories.js') }}"></script>
    <script src="{{ url_for('static', filename='js/populateCompleteName.js') }}"></script>
    <script src="{{ url_for('static', filename='js/populateSupplier.js') }}"></script>
    
    
    <script src="{{ url_for('static', filename='js/utilsValidate.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/validateBarcode.js') }}"></script>


    <script src="{{ url_for('static', filename='js/getOpenFoodFactProduct.js') }}"></script>
{% endblock %}