{% extends 'base.html.jinja' %}

{% block content %}
  
  <h1>{% block title %} Accueil {% endblock %}</h1>

  <div>
    {% if 'addProduct' in roles %}
      <a href="/addProduct">Ajouter un produit</a>
    {% endif %}
  </div>
  
  <div>
    {% if 'updateProduct' in roles %}
      <a href="/updateProduct">Moulinette</a>
    {% endif %}
  </div>

{% endblock %}
