{% extends 'base.html.jinja' %}

{# A macro for create a form row : 2 columns, by default :
- Label
- Input with div for error feedback
each column is parametrable (content and class)
 #}
{% macro row(col1, col2, col2Id, col2Errors, col1Classes="form-label", col2Classes="form-control") -%}
  <div class="row">
    {# Col 1 #}
    <div class="col-sm-4">
      {{ col1(class=col1Classes) }}
    </div>

    {# Col 2 : the input with class is-invalid if field contains errors 
    (given by validate method execute by controller) #}
    <div class="col-sm-4">
      {% if col2Errors %}
        {% set col2Classes = col2Classes + ' is-invalid' %}
        {{ col2(class=col2Classes) }}
      {% else %}
        {{ col2(class=col2Classes) }}
      {% endif %}

      {# The list of errors messages, just under the input #}
      {% for error in col2Errors %}
        <div id="{{ col2Id }}-error" class="invalid-feedback">
          {{ error }}
        </div>
      {% endfor %}
    </div>
  </div>
{%- endmacro %}

{% block content %}
  
  <h1>{% block title %} Mise à jour d'un lot de produits {% endblock %}</h1>

  {# enctype="multipart/form-data" for file upload #}
  <form method="POST" enctype="multipart/form-data" action="/updateProduct">
    {{ form.csrf_token }}
    <div class="container">
      {{
        row
        (
          col1=form.csvFile.label,
          col2=form.csvFile,
          col2Id='csvFile',
          col2Errors=form.csvFile.errors
        )
      }}

      <div class="row">
        {# Col 1 #}
        <div class="col-sm-4"></div>
        {# Col 2 #}
        <div class="col-sm-4">
          <input id="submit" type="submit" value="Créer" class="btn btn-primary">
        </div>
      </div>

    </div>
  </form>
{% endblock %}
